<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Keikaku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21B6942A1C1D16A50091EBFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B6943E1C1D16A50091EBFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21B694491C1D16A50091EBFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
